html {
  height: 100%;
}

body {
  background: linear-gradient(#eba9cc, #b343b5);
  font-size: 20px;
  margin: 0 50px;
}

p {
  text-align: justify;
  overflow: hidden; /* fixes height for `float` uses */
}

a:link,
a:visited {
  color: hsl(136.1, 72.8%, 46.9%);
}

a:hover {
  color: hsl(136.1, 72.8%, 44.9%);
}

a:active {
  color: hsl(136.1, 72.8%, 42.9%);
}

a[href^="http"] {
  background-color: yellow;
}

img:not([alt]) {
  border: 5px solid red;
}

p.curiosidade {
  background-image: url("imgs/favo-de-mel.png");
  padding: 10px;
  border: 1px solid #ff9f00;
  border-radius: 5px;
  overflow: hidden; /* fixes height for `float` use */
}

p.curiosidade > img {
  float: left;
  margin-right: 20px;
}

p:last-of-type {
  text-align: right;
}

img.casta-de-abelha {
  border: 5px solid #ff9f00;
  border-radius: 50%;
}

.img-esquerda {
  margin-right: 20px;
  float: left;
}

.img-direita {
  margin-left: 20px;
  float: right;
}

#cabecalho {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 4px #0003;
  padding: 30px;
}

#img-logomarca {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
